:root{
    --primarycolor:#333;
    --secondarycolor:#a5b9b5;
}

body{
    background: var(--primarycolor);
}

.container{
display: block;
background: #8b8282;
    width:200px;
    height: 200px;
    margin: auto;

}

h3{
    color:white;
    padding-left: 15px;
    text-align: center;
}

a{
    color: black;
}

input{
    display: inline-block;
    width: 100%;
    background: var(--secondarycolor);
}


h1{
text-align: center;
color:#d4e5c8
}

.operator:hover,.equal:hover,.clear:hover{
    background-color: azure;
}
.clear{
    background: #a51b1b;
}
.number{
    background: #f8d7c3;
}

.number:hover{
    background: #da5c0e;
}
